main {
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  width: 40%;
}

.score-section header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1em;
}

.btn {
  width: fit-content;
}
